* {
  margin: 0;
  padding: 0;
}

:root {
  --black1: #24272c;
  --black2: #141519;
  --brand-color: #fbc93b;
}

.brand_color {
  color: var(--brand-color);
}

.nav_sec {
  background-color: var(--black1);
  height: 80px;
  display: flex;
  align-items: center
}

.nav_sec .logo img {
  height: 45px;
}

.hero_sec {
  background-color: var(--black1);
  padding: 60px 0;
}

.hero_sec .hero_content {
  max-width: 1180px;
  margin: 0 auto;
}

.hero_sec .hero_content h1 {
  font-size: 50px;
}

.hero_sec .hero_content p {
  margin-top: 30px;
  font-size: 17px;
  line-height: 27px;
}

.carousal_sec{
  background-color: var(--black2);
  color: white; 
  padding: 50px 0;
}
